<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94814276921-727vjhc2pqslklhuip49u8tcdnq4rv54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94814276921-727vjhc2pqslklhuip49u8tcdnq4rv54</string>
	<key>API_KEY</key>
	<string>AIzaSyC_ixiHjWTzWMYPpHD7iAtpi1THEh9DVxA</string>
	<key>GCM_SENDER_ID</key>
	<string>94814276921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mac99S.MemoryHelper</string>
	<key>PROJECT_ID</key>
	<string>memory-helper-4f48f</string>
	<key>STORAGE_BUCKET</key>
	<string>memory-helper-4f48f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94814276921:ios:1a8d4d22488a1083c5ece8</string>
</dict>
</plist>